.project
.settings
*.ipa
*.apk
*.stamp
*.swf
*.tmp
bin/GooglePlusANE.app.dSYM/Contents/Info.plist
GooglePlus.ane
GooglePlus.swc
*.iml
*.gradle
*.properties
*.bat
.idea
android/gradle
android/gradlew
proguard-rules.pro
