.project
.settings
*.ipa
*.apk
*.stamp
*.swf
*.tmp
bin/GooglePlusANE.app.dSYM/Contents/Info.plist
docs
GooglePlus.ane
GooglePlus.swc
android/.classpath
android/AndroidManifest.xml
android/bin
android/gen
android/proguard-project.txt
android/project.properties
*.xcuserstate
com.milkmangames.extensions.GoogleServices.ane
